.wrapper {
    display: flex;
    margin-bottom: 15px;
}

.wrapper:last-child {
    margin-bottom: 0;
}

.wrapper a {
    margin-left: 10px;
    text-decoration: none;
    color: #000000;
}

.wrapper a:hover {
    color: rgb(255, 240, 102);
}

.wrapper a.active {
    color: rgb(255, 240, 102);
    font-weight: 600;
}

.dialogs_item {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
}

.avatar img {
    width: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}